@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624352708078') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-001-mailinboxapp:before {
  content: "\e68a";
}

.icon-003-telephone:before {
  content: "\e68b";
}

.icon-002-speechbubble:before {
  content: "\e68c";
}

.icon-004-camera:before {
  content: "\e68d";
}

.icon-005-image:before {
  content: "\e68e";
}

.icon-006-weatherapp:before {
  content: "\e68f";
}

